@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: Inter, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply text-d-text-primary bg-d-bg-primary;
  }
}

body {
  @apply text-l-text-primary bg-l-bg-primary;
}

body.dark {
  @apply text-d-text-primary bg-d-bg-primary;
}

@layer components {
  .input {
    @apply bg-l-bg-primary dark:bg-d-bg-secondary border border-l-border dark:border-d-border hover:border-l-text-secondary focus:border-l-text-primary focus:dark:border-d-text-primary hover:dark:border-d-text-secondary;
  }

  .input::placeholder {
    @apply text-l-text-secondary;
  }

  .input:focus {
    @apply outline-l-text-secondary dark:outline-d-text-secondary;
  }

  .btn {
    @apply py-2 h-[48px] rounded-lg border border-l-border dark:border-d-border text-l-text-primary dark:text-d-text-primary hover:bg-l-bg-secondary dark:hover:bg-d-bg-secondary;
  }

  .btn-google {
    @apply bg-[#ff6a6b] text-d-text-primary hover:bg-[#fb7777];
  }

  .btn-home {
    @apply rounded-[100px] w-[200px] first-of-type:border-l-text-secondary first-of-type:dark:border-d-text-secondary hover:bg-l-text-primary  hover:text-l-bg-primary hover:dark:bg-d-bg-secondary
  last-of-type:bg-accent 
  last-of-type:hover:bg-[#F3B251] last-of-type:hover:dark:bg-[#F3B251] last-of-type:dark:text-l-text-primary;
  }

  .btn-nav {
    @apply w-[80px] h-[45px] border-none;
  }

  .btn-accent {
    @apply bg-accent hover:bg-[#F3B251];
  }

  .btn-reverse {
    @apply bg-d-bg-primary text-d-text-primary dark:bg-l-bg-primary dark:text-l-text-primary hover:bg-d-bg-secondary hover:dark:bg-l-bg-secondary;
  }

  .skeleton {
    @apply bg-l-border dark:bg-d-border rounded-lg;
  }

  .errorMessage {
    @apply text-error;
  }
}
