@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: Inter, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply text-d-text-primary bg-d-bg-primary;
  }
}

body {
  @apply text-l-text-primary bg-l-bg-primary;
}

body.dark {
  @apply text-d-text-primary bg-d-bg-primary;
}

@layer components {
  .skeleton {
    @apply bg-l-border dark:bg-d-border rounded-lg;
  }

  /* .my-react-select-container */
  .my-react-select-container .my-react-select__control {
    @apply bg-l-bg-primary dark:bg-d-bg-primary border-2 border-l-border dark:border-d-border hover:bg-l-bg-secondary dark:hover:bg-d-bg-secondary;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply hover:border-accent dark:hover:border-accent shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-l-bg-primary dark:bg-d-bg-primary border-2 border-l-border dark:border-d-border shadow-none;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-l-text-primary dark:text-d-text-primary bg-l-bg-primary hover:bg-l-bg-secondary dark:bg-d-bg-primary dark:hover:bg-d-bg-secondary;
  }

  .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-l-bg-secondary dark:bg-d-bg-secondary;
  }

  .my-react-select-container .my-react-select__option--is-selected {
    @apply bg-accent dark:bg-accent;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-l-bg-secondary;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-l-text-primary dark:text-d-text-primary;
  }
}
